<div class="w-100 userImg_container">
  <img [src]="userImg" alt="user image" class="userImg">
</div>
<div class="w-100 d-flex flex-column justify-content-center align-item-center userInfo_container">

  <div class="userInfo_item d-flex flex-column justify-content-center border-bottom border-3 rounded-4 py-3">
    <p class="m-0 p-0 text-secondary text-center">User name</p>
    <div class="m-0 p-0 d-flex justify-content-center align-items-center">
      <fa-icon [icon]="nameIcon" class="_icon text-info"></fa-icon>
      <h5 class="m-0 p-0 ms-4">Aquiles Brinco</h5>
    </div>
  </div>

  <div class="userInfo_item d-flex flex-column justify-content-center border-bottom border-3 rounded-4 py-3">
    <p class="m-0 p-0 text-secondary text-center">Email</p>
    <div class="m-0 p-0 d-flex justify-content-center align-items-center">
      <fa-icon [icon]="emailIcon" class="_icon text-info"></fa-icon>
      <h5 class="m-0 p-0 ms-4">example@cloud.free</h5>
    </div>
  </div>

  <div class="userInfo_item d-flex flex-column justify-content-center border-bottom border-3 rounded-4 py-3">
    <p class="m-0 p-0 text-secondary text-center">Password</p>
    <div class="m-0 p-0 d-flex justify-content-center align-items-center">
      <fa-icon [icon]="passwordIcon" class="_icon text-info"></fa-icon>
      <h5 class="m-0 p-0 ms-4">**************</h5>
    </div>
  </div>

  <div class="userInfo_item d-flex flex-column justify-content-center border-bottom border-3 rounded-4 py-3">
    <p class="m-0 p-0 text-secondary text-center">Contry</p>
    <div class="m-0 p-0 d-flex justify-content-center align-items-center">
      <fa-icon [icon]="contryIcon" class="_icon text-info"></fa-icon>
      <h5 class="m-0 p-0 ms-4">Venezuela v2.0</h5>
    </div>
  </div>

  <div class="userInfo_item d-flex flex-column justify-content-center border-bottom border-3 rounded-4 py-3">
    <p class="m-0 p-0 text-secondary text-center">Pay info</p>
    <div class="m-0 p-0 d-flex justify-content-center align-items-center">
      <fa-icon [icon]="cardIcon" class="_icon text-info"></fa-icon>
      <h5 class="m-0 p-0 ms-4">Protected</h5>
    </div>
  </div>

  <div class="userInfo_item d-flex flex-column justify-content-center border-bottom border-3 rounded-4 py-3 mb-5">
    <p class="m-0 p-0 text-secondary text-center">Address</p>
    <div class="m-0 p-0 d-flex justify-content-center align-items-center">
      <fa-icon [icon]="locationIcon" class="_icon text-info"></fa-icon>
      <h5 class="m-0 p-0 ms-4">Protected</h5>
    </div>
  </div>

  <div class="text-center mb-5">
    <button class="btn btn-success">Edit information</button>
  </div>
</div>  