<div class="offcanvas offcanvas-start bg-custom" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">
      Shopping cart
    </h5>
    
    <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
      <fa-icon [icon]="closeIcon" class="text-danger close"></fa-icon>
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column">
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
    </div>
  </div>
</div>